*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-wrapper {
  height: 400px;
  width: 400px;
  border: 1px solid #5e5e5e;
  display: flex;
  flex-direction: column;
}

.post-header,
.post-actions {
  height: 60px;
  width: 100%;
}

.post-header {
  border-bottom: 1px solid #5e5e5e;
  background: #e7e7e7;
}

.post-content {
  background: #f3f3f3;
  flex: 1;
}

.post-actions {
  border-top: 1px solid #5e5e5e;
  background: #e7e7e7;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.post-actions button {
  background: transparent;
  outline: none;
  border: transparent;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  border-radius: 7px;
  text-transform: capitalize;
}

.post-actions button:hover {
  background: #c7c7c77a;
}

.post-actions .reaction-wrapper {
  position: relative;
}

.post-actions .reaction-wrapper .reaction-popover {
  position: absolute;
  top: -65px;
  left: 0;
  width: max-content;
  height: max-content;
  background-color: #e7e7e7;
  padding: 5px 10px;
  border-radius: 50px;
  border: 1px solid #b3b2b27a;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
  visibility: hidden;
}

.post-actions .reaction-wrapper .reaction-popover.visible {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}

.post-actions .reaction-wrapper .reaction-popover .reactionlist-item:hover {
  transform: scale(1.5);
  background: transparent;
}
